# Dependencies
node_modules
server/node_modules
server/contracts/node_modules

# Build outputs
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro
server/dist
server/contracts/artifacts
server/contracts/cache

# Environment
.env.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
